@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    border: solid #b6b6e8;
    background-color: #1a1a42;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    font-family: "Protest Guerrilla", sans-serif;
}

.btn:hover {
    color: #303092;
    font-weight: bold;
}

.my-1 {
    margin: 4px 0;
}

.my-2 {
    margin: 26px 0;
}

.text-center {
    text-align: center;
}